body{
	/* Style pour le corps général*/
	margin-left : 25%;
	margin-right : 25%;
	text-align : center;
}

.section{
    /* Style du corps de section */
    color: black;
    margin-top: 50px;
}

#HebdoEvent{
	margin:10% 0 2% 0;
	border: 3px solid black;
	padding : 3px;
}

#Event{
	margin:10% 0 2% 0;
	border: 3px solid black;
	padding : 3px;
}

.post{
	margin-top: 5%;
}

#accueil{
	background-color: purple;
}

