body{
	/* Style pour le corps général*/
	margin-left : 25%;
	margin-right : 25%;
	text-align : center;
}

header{
	/* Style pour le bandeau d'en-tête*/
	color: white; 
	padding:7px; 
	background-color : #446AA9 ; 
}


.navigation{
	/* Style du bandeau de navigation */
	margin-top : 10px;
}

.section{
	/* Style du corps de section */
	color: white;
}

#Event{
	margin-top:100px;
	border: 3px solid black;
	padding : 3px;
}


/* Style du carrousel */

#carrousel {
	margin: 50px 25% 10px 24%;
	width: 750px;
	height: 150px;
	list-style: none;
	left: 0;
	margin-bottom: 0;
	position: absolute;
}
#carrousel ul {
	position: relative;
}
ul > li {
	list-style-type: none;
	position: absolute;
	top: 30%;
	transition: 1s opacity;
}
.prev {
	position: absolute;
	margin-left: 20%;
	margin-top: 12%;
	color: black;
	width: 40px;
	height: 20px;
	font-weight: 500;
	background-color: #446AA9;
	border-radius: 2px;
	border: 2px solid black;
}
.next {
	position: absolute;
	margin-left: 25%;
	margin-top: 12%;
	color: black;
	width: 40px;
	height: 20px;
	font-weight:500;
	background-color: #446AA9;
	border-radius: 2px;
	border: 2px solid black;
}

.post{
	margin-top: 35%;
}

footer{
	/* Style du footer */
	color: white;
}