.section {
	/* Style du corps de section */
	color: black;
	margin-top: 50px;
}

#HebdoEvent {
	margin: 10% 0 2% 0;
	border: 3px solid black;
	padding: 3px;
}

#Event {
	margin: 10% 0 2% 0;
	border: 3px solid black;
	padding: 3px;
}

.post {
	margin-top: 5%;
}

#accueil {
	background-color: purple;
}

.video-container {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	/* Aspect ratio 16:9 (modify as needed) */
	margin-top: 20px;
	/* Adjust as needed */
}

.video-container video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}