body{
	/* Style pour le corps général*/
	margin-left : 25%;
	margin-right : 25%;
	text-align : center;
}

.section{
    /* Style du corps de section */
    color: black;
    margin-top: 50px;
}

#Event{
	margin-top:100px;
	border: 3px solid black;
	padding : 3px;
}

.post{
	margin-top: 35%;
}