/* Style du carrousel */

#carrousel {
	width: 100%;
	height: 150px;
	list-style: none;
	text-align: center;
	left: 0;
	margin-bottom: 0;
	background-color: #446AA9;
	white-space: nowrap;
	vertical-align: top;
}

ul#listc {
	list-style-type: none;
}

ul#listc ul>li {
	list-style-type: none;
	transition: 1s opacity;
}

ul#listc li {
	display: inline-block;
	margin: 3% 0 0 0;
}

.prev {
	color: black;
	width: 70px;
	height: 35px;
	font-weight: 800;
	background-color: #446AA9;
	border-radius: 5px;
	border: 2px solid black;
}

.next {
	color: black;
	width: 70px;
	height: 35px;
	font-weight: 800;
	background-color: #446AA9;
	border-radius: 5px;
	border: 2px solid black;
}