body {
    font-family: Arial, sans-serif;
    background: #222274;
    color: #fff;
    margin: 0;
    padding: 0;
    margin-left : 25%;
	margin-right : 25%;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
}

header{
    color: white; 
    padding:7px; 
    background-color : #446AA9 ; 
}

.navigation{
    margin-top : 10px;
}

footer{
    color : black;
    margin-top : 20px;
}

ul#liste1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul#liste1 li {
    float: left;
	border-right: 1px solid #bbb;
}

ul#liste1 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul#liste1 li a:hover {
    background-color: #111;
}

#chatbox {
    max-width: 60%;
    width: 100%;
    margin-top: 70px;
    height: calc(100vh - 70px);
    border-radius: 10px;
    padding: 20px;
    background: #4444fc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

#userInput {
    position: fixed;
    bottom: 0;
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    background: #4040a7;
    color: #fff;
}

.usernameButton {
    background-color: #4d4de0;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    display: block;
}

.usernameButton.active {
    background-color: #5353bd;
}

#userSelect {
    max-width: 30%;
    height: calc(100vh - 70px);
    margin-top: 70px;
    overflow-y: auto;
    padding: 20px;
    background: #222274;
    position: fixed;
    right: 0;
    top: 0;
}

#chat{
    background-color: purple;
}

#buttonArea {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #222274;
}

#messageButton.active, #cameraButton.active {
    background-color: #5353bd;
}
#videocall {
    max-width: 60%;
    width: 100%;
    height: calc(100vh - 70px);
    margin-top: 70px;
    border-radius: 10px;
    padding: 20px;
    background: #4444fc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}
