::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}

body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: #f1f1f1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-left: 25vw;
  margin-right: 25vw;
}

header {
  color: #f1f1f1;
  padding: 10px;
  background-color: #7a7faf;
  font-size: 1.3em;
}

footer {
  color: #333;
  margin-top: 40px;
}

#chatbox {
  width: 100%;
  margin-top: 100px;
  height: calc(100vh - 100px);
  border-radius: 15px;
  padding: 30px;
  background: #9d9df0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

#userInput {
  position: fixed;
  bottom: 0;
  width: 50%;
  padding: 15px;
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
  background: #7878f8;
  color: #f1f1f1;
}

.usernameButton {
  background-color: #7171e0;
  color: #f1f1f1;
  border: none;
  padding: 15px 25px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  margin-bottom: 15px;
  display: block;
}

.usernameButton.active {
  background-color: #6363c7;
}

#userSelect {
  width: 8%;
  height: calc(100vh - 100px);
  margin-top: 100px;
  overflow-y: auto;
  padding: 30px;
  background: #5555b1;
  position: fixed;
  right: 0;
  top: 0;
  overflow-x: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#chat {
  text-decoration: underline;
  text-underline-offset: 8px;
}

#buttonArea {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

#messageButton.active,
#cameraButton.active {
  background-color: #6363c7;
}

#videocall {
  width: 100%;
  height: calc(100vh - 100px);
  margin-top: 100px;
  border-radius: 15px;
  padding: 30px;
  background: #8383c7;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}
