body{
    /* Style pour le corps général*/
    margin-left : 25%;
    margin-right : 25%;
    text-align : center;
}

.section{
    /* Style du corps de section */
    color: black;
    margin-top: 50px;
}

#Emplois{
    text-align : center;
    color:red;
    border: 3px solid black;
    border-radius: 5%;
    padding : 3px;
}

.scroll-container {
    width: 50vw;
    height: 60vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.scroll-page {
    width: 100%;
    float: left;
    text-align: left;
    height: 50%;

    margin-top: 10px;
}

#formation{
    background-color: mintcream ;
}

.login-popup {
    position: relative;
    text-align: center;
    width: 100%;
}

.Description {
display: none;
position: fixed;
left: 45%;
top: 5%;
transform: translate(-45%, 5%);
border: 2px solid #666;
z-index: 9;
}
.descr-container {
padding: 20px;
background-color: #f8f5f5;
}      

.form-container .btn:hover,
    .open-button:hover {
    opacity: 1;
    }
#emplois{
    background-color: purple;
}