
#Emplois {
    margin-top: 100px;
    border: 3px;
    border-radius: 5%;
}


nav, .scroll-container {
    display: block;
    margin: 0 auto;
    text-align: center;
}

nav {
    width: 339px;
    padding: 5px;
    border: 1px solid black;
}

.scroll-container {
    width: 350px;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.scroll-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 5em;
}
