header{
	/* Style pour le bandeau d'en-tête*/
	color: white; 
	padding:7px; 
	background-color : #446AA9 ; 
}


.navigation{
	/* Style du bandeau de navigation */
	margin-top : 10px;
}


footer{
	/* Style du footer */
    color : black;
    margin-top : 20px;
}