header{
	/* Style pour le bandeau d'en-tête*/
	color: white; 
	padding:7px; 
	background-color : #446AA9 ; 
}


.navigation{
	/* Style du bandeau de navigation */
	margin-top : 10px;
}


footer{
	/* Style du footer */
    color : black;
    margin-top : 20px;
}

ul#liste1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul#liste1 li {
    float: left;
	border-right: 1px solid #bbb;
}


ul#liste1 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul#liste1 li a:hover {
    background-color: #111;
}
