body {
    font-family: Arial, sans-serif;
    background: #00004d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    animation: Gradient 15s ease infinite;
    background-size: 200% 200%;
    background-position: center center;
    background-image: linear-gradient(45deg, #222274, #4040a7, #5353bd, #4d4de0, #4444fc);
}

@keyframes Gradient {
    0% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 100% 0%;
    }
}

form {
    background: rgba(68, 68, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.5);
    text-align: center;
}

input[type="text"], input[type="password"] {
    margin: 10px 0;
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    color: #fff;
    background-color: #0000ff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.3);
}

input[type="submit"]:hover {
    background-color: #3333ff;
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 255, 255, 0.5);
}

h2 {
    margin-bottom: 20px;
}

.error {
    color: #ff0000;
    margin-bottom: 20px;
}