body{
    /* Style pour le corps général*/
    margin-left : 25%;
    margin-right : 25%;
    text-align : center;
}

.section{
    /* Style du corps de section */
    color: black;
    margin-top: 8%;
}

#Semaine, #Amis{
    text-align : center;
    border: 3px solid black;
    border-radius: 5%;
    padding : 3px;
}


#Amis{
    color: green;
}

#Semaine{
    color:red;
}

#carrousel {
	width: 100%;
	height: 150px;
	list-style: none;
	text-align:center;
	left: 0;
	margin-bottom: 0;
	background-color : #446AA9;
	white-space: nowrap;
	vertical-align: top;
}
ul#listc {
	list-style-type: none;
}
ul#listc ul>li {
	list-style-type: none;
	transition: 1s opacity;
}

ul#listc li {
	display : inline-block;
	margin : 3% 0 0 0;
}

.prev {
	color: black;
	width: 70px;
	height: 35px;
	font-weight: 800;
	background-color: #446AA9;
	border-radius: 5px;
	border: 2px solid black;
}
.next {
	color: black;
	width: 70px;
	height: 35px;
	font-weight: 800;
	background-color: #446AA9;
	border-radius: 5px;
	border: 2px solid black;
}

.scroll-container {
    width: 50vw;
    height: 30vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.scroll-page {
    width: 100%;
    float: left;
    text-align: left;
    height: 30%;
    margin-top: 5px;
}

#notif-1{
    background-color: mintcream ;
}

#notif-2{
    background-color: lightcyan ;
}

#notif-3{
    background-color: lavenderblush ;
}


ul#liste1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul#liste1 li {
    float: left;
	border-right: 1px solid #bbb;
}


ul#liste1 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul#liste1 li a:hover {
    background-color: #111;
}