body{
    /* Style pour le corps général*/
    margin-left : 25%;
    margin-right : 25%;
    text-align : center;
}

.section{
    /* Style du corps de section */
    color: black;
    margin-top: 50px;
}

#Semaine, #Amis{
    text-align : center;
    border: 3px solid black;
    border-radius: 5%;
    padding : 3px;
}

#Amis{
    color: green;
}

#Semaine{
    color:red;
}
.scroll-container {
    width: 50vw;
    height: 30vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.scroll-page {
    width: 100%;
    float: left;
    text-align: left;
    height: 50%;
    margin-top: 5px;
}

#notif-1{
    background-color: mintcream ;
}

#notif-2{
    background-color: lightcyan ;
}

#notif-3{
    background-color: lavenderblush ;
}

#notifs{
	background-color: purple;
}

/* Control styles
-------------------------------------------- */

.carousel {
    position: relative;
  }
  .carousel	input {
    position: absolute;
    left: 0;
    z-index: 3;
    margin: 0;
  }
  .carousel input:before {
    position: absolute;
    content: "<";
  }
  input:checked ~ input:before {
    content: ">";
  }
  input:checked {
    display: none;
  }
  input:checked ~ input {
    right: 0;
    left: auto;		
  }
  input:checked + div + input {
    z-index: 4;
  }
  input + div {
    position: absolute;
    z-index: 1;
  }  
  input:checked + div {
    z-index: 2;
  }  
  .custom-carousel {
    width: 100%;
    height: auto;
  }
  
  .carousel-inner {
    height: 400px;
  }
  
  .carousel-item {
    text-align: center;
  }
  
  .carousel-item img {
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-image: none;
  }
  
  .carousel-indicators li {
    background-color: #000;
    border: 1px solid #fff;
  }
  
  .carousel-indicators .active {
    background-color: #fff;
  }
  