body{
    /* Style pour le corps général*/
    margin-left : 25%;
    margin-right : 25%;
    text-align : center;
}

.section{
    /* Style du corps de section */
    color: black;
    margin-top: 50px;
}

#Semaine, #Amis{
    text-align : center;
    border: 3px solid black;
    border-radius: 5%;
    padding : 3px;
}

#Amis{
    color: green;
}

#Semaine{
    color:red;
}
.scroll-container {
    width: 50vw;
    height: 30vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.scroll-page {
    width: 100%;
    float: left;
    text-align: left;
    height: 50%;
    margin-top: 5px;
}

#notif-1{
    background-color: mintcream ;
}

#notif-2{
    background-color: lightcyan ;
}

#notif-3{
    background-color: lavenderblush ;
}

#notifs{
	background-color: purple;
}

/* Control styles -------------------------------------------- */

.carousel {
    position: relative;
  }
  
  .carousel input {
    position: absolute;
    left: 0;
    z-index: 3;
    margin: 0;
  }
  
  .carousel input:before {
    position: absolute;
    content: "<";
  }
  
  input:checked ~ input:before {
    content: ">";
  }
  
  input:checked {
    display: none;
  }
  
  input:checked ~ input {
    right: 0;
    left: auto;
  }
  
  input:checked + div + input {
    z-index: 4;
  }
  
  input + div {
    position: absolute;
    z-index: 1;
    opacity: 0; /* Add opacity to hide initially */
    transition: opacity 0.5s ease-in-out; /* Add transition for smooth fade-in/out effect */
  }
  
  input:checked + div {
    opacity: 1; /* Show the selected image */
  }
  
  /* Demo styles -------------------------------------------- */
  
  .carousel {
    width: 600px;
    height: 350px;
    margin: 2em auto;
    overflow: hidden;
    transform: translateZ(0px); /* stops flickering in CodePen */
    box-shadow: 0 0 2px 1px #ccc;
  }
  
  .carousel input {
    top: 150px;
    width: 60px;
    height: 60px;
    left: 10px;
  }
  
  input:checked ~ input {
    right: 10px;
  }
  
  .carousel input:before {
    background: #888;
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 5px solid #fff;
  }
  
  /* Scroll -------------------------------------------- */
  
  #test1 input + div {
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.5s ease-in-out;
  }
  
  #test1 input:checked + div {
    transform: translate3d(0, 0, 0);
  }
  
  #test1 input:checked + div ~ div {
    transform: translate3d(100%, 0, 0);
  }
  