body{
	/* Style pour le corps général*/
	margin-left : 25%;
	margin-right : 25%;
	text-align : center;
}

header{
	/* Style pour le bandeau d'en-tête*/
	color: white; 
	padding:7px; 
	background-color : #446AA9 ; 
}


.navigation{
	/* Style du bandeau de navigation */
	margin-top : 10px;
}

/* Style du carrousel */

#carrousel {
	margin: 10px 0% 0px 25%;
	width: 750px;
	height: 150px;
	list-style: none;
	left: 0;
	margin-bottom: 0;
}
#carrousel ul {
	position: relative;
}
ul > li {
	list-style-type: none;
	position: absolute;
	top: 30%;
	transition: 1s opacity;
}
.prev {
	display: block;
	color: black;
	width: 70px;
	height: 35px;
	font-weight: 800;
	background-color: #446AA9;
	border-radius: 5px;
	border: 2px solid black;
    position: relative;
}
.next {
	display: block;
	color: black;
	width: 70px;
	height: 35px;
	font-weight: 800;
	background-color: #446AA9;
	border-radius: 5px;
	border: 2px solid black;
    position: relative;
}


.scroll-page {
    width: 100%;
    text-align: left;
    height: 50%;
    margin-top: 10px;
}

footer{
	margin-top: 35%;
}

.profil{
	/* Style du bandeau de navigation */
	margin-top : 20%;
}

.amis{
	/* Style du bandeau de navigation */
	margin-top : 10px;
    background-color: #446AA9;
}