body{
	/* Style pour le corps général*/
	margin-left : 25%;
	margin-right : 25%;
    text-align : center;
}

header{
	/* Style pour le bandeau d'en-tête*/
	color: white; 
	padding:7px; 
	background-color : #446AA9 ; 
}


.navigation{
	/* Style du bandeau de navigation */
	margin-top : 10px;
}

/* Style du carrousel */

#carrousel {
	margin: 50px 25% 10px 24%;
	width: 750px;
	height: 150px;
	list-style: none;
	left: 0;
	margin-bottom: 0;
	position: absolute;
}
#carrousel ul {
	position: relative;
}
#carrousel ul>li {
	list-style-type: none;
	position: absolute;
	top: 30%;
	transition: 1s opacity;
}
.prev {
	color: black;
	width: 40px;
	height: 40px;
	font-weight: 800;
	background-color: #446AA9;
	border-radius: 5px;
	border: 2px solid black;
}

.next {
	color: black;
	width: 40px;
	height: 40px;
	font-weight: 800;
	background-color: #446AA9;
	border-radius: 5px;
	border: 2px solid black;
	margin-left : 60px;	
}


.scroll-container {
    width: 50vw;
    height: 60vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.scroll-page {
    width: 100%;    
    height: 50%;
    margin-top: 10px;
}
footer{
	margin-top: 10%;
}

.profil{
	/* Style du bandeau de navigation */
	margin-top : 20%;
}

.amis{
    background-color: #89afec;
}

ul#liste1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul#liste1 li {
    float: left;
	border-right: 1px solid #bbb;
}


ul#liste1 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul#liste1 li a:hover {
    background-color: #111;
		border-style: inset;
}