body{
	/* Style pour le corps général*/
	margin-left : 25%;
	margin-right : 25%;
}

header{
	/* Style pour le bandeau d'en-tête*/
	color: white; 
	padding:7px; 
	background-color : #446AA9 ; 
}


.navigation{
	/* Style du bandeau de navigation */
	margin-top : 10px;
}

/* Style du carrousel */

#carrousel {
	margin-top: 10px;
	width: 750px;
	height: 150px;
	list-style: none;
    list-style-position: outside;
}
#carrousel ul {
	position: relative;
}
ul > li {
	list-style-type: none;
    list-style-position: outside;
	position: absolute;
	top: 30%;
	transition: 1s opacity;
}
.prev {
	display: block;
	color: black;
	width: 70px;
	height: 35px;
	font-weight: 800;
	background-color: #446AA9;
	border-radius: 5px;
	border: 2px solid black;
    position: relative;
}
.next {
	display: block;
	color: black;
	width: 70px;
	height: 35px;
	font-weight: 800;
	background-color: #446AA9;
	border-radius: 5px;
	border: 2px solid black;
    position: relative;
}


.scroll-container {
    width: 50vw;
    height: 60vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.scroll-page {
    width: 100%;
    text-align: center;
    height: 50%;
    margin-top: 10px;
}
footer{
	margin-top: 35%;
}

.profil{
	/* Style du bandeau de navigation */
	margin-top : 20%;
}

.amis{
	/* Style du bandeau de navigation */
	margin-top : 10px;
    background-color: #446AA9;
}