body{
	/* Style pour le corps général*/
	margin-left : 25%;
	margin-right : 25%;
	text-align : center;
}

header{
	/* Style pour le bandeau d'en-tête*/
	color: white; 
	padding:7px; 
	background-color : #446AA9 ; 
}


.navigation{
	/* Style du bandeau de navigation */
	margin-top : 10px;
}

footer{
	margin-top: 35%;
}

.profil{
	/* Style du bandeau de navigation */
	margin-top : 10px;
}

.amis{
	/* Style du bandeau de navigation */
	margin-top : 10px;
    background-color: #446AA9;
}