body{
	/* Style pour le corps général*/
	margin-left : 25%;
	margin-right : 25%;
	text-align : center;
}

.profil{ 
    /* Style pour la partie profil en haut de page */ 
    margin-top : 80px; 
} 

#reseau{
	background-color: purple;
}