body{
	/* Style pour le corps général*/
	margin-left : 25%;
	margin-right : 25%;
	text-align : center;
}

header{
	/* Style pour le bandeau d'en-tête*/
	color: white; 
	padding:7px; 
	background-color : #446AA9 ; 
}


.navigation{
	/* Style du bandeau de navigation */
	margin-top : 10px;
}

/* Style du carrousel */

#carrousel {
	margin: 50px 25% 10px 24%;
	width: 750px;
	height: 150px;
	list-style: none;
	left: 0;
	margin-bottom: 0;
	position: absolute;
}
#carrousel ul {
	position: relative;
}
#carrousel ul>li {
	list-style-type: none;
	position: absolute;
	top: 30%;
	transition: 1s opacity;
}
.prev {
	position: absolute;
	display: block;
	margin-left: 18%;
	margin-top: 12%;
	color: black;
	width: 70px;
	height: 35px;
	font-weight: 800;
	background-color: #446AA9;
	border-radius: 5px;
	border: 2px solid black;
}
.next {
	position: absolute;
	display: block;
	margin-left: 28%;
	margin-top: 12%;
	color: black;
	width: 70px;
	height: 35px;
	font-weight: 800;
	background-color: #446AA9;
	border-radius: 5px;
	border: 2px solid black;
}

footer{
	margin-top: 35%;
}

ul#liste1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul#liste1 li {
    float: left;
	border-right: 1px solid #bbb;
}


ul#liste1 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul#liste1 li a:hover {
    background-color: #111;
}