body{
	/* Style pour le corps général*/
	margin-left : 25%;
	margin-right : 25%;
	text-align : center;
}

header{
	/* Style pour le bandeau d'en-tête*/
	color: white; 
	padding:7px; 
	background-color : #446AA9 ; 
}


.navigation{
	/* Style du bandeau de navigation */
	margin-top : 10px;
}

/* Style du carrousel */

#carrousel {
	margin: 12% 25% 10px 24%;
	width: 750px;
	height: 150px;
	list-style: none;
	left: 0;
	margin-bottom: 0;
	position: absolute;
}
#carrousel ul {
	position: relative;
}
ul > li {
	list-style-type: none;
	position: absolute;
	top: 30%;
	transition: 1s opacity;
}
.prev {
	position: absolute;
	display: block;
	margin-left: 18%;
	margin-top: 12%;
	color: black;
	width: 70px;
	height: 35px;
	font-weight: 800;
	background-color: #446AA9;
	border-radius: 5px;
	border: 2px solid black;
}
.next {
	position: absolute;
	display: block;
	margin-left: 28%;
	margin-top: 12%;
	color: black;
	width: 70px;
	height: 35px;
	font-weight: 800;
	background-color: #446AA9;
	border-radius: 5px;
	border: 2px solid black;
}

footer{
	margin-top: 35%;
}