body {
  /* Style pour le corps général*/
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

.profil {
  /* Style pour la partie profil en haut de page */
  margin-top: 80px;
}

.row {
  padding: 2%;
  
}

/*CSS pour carroussel*/

main#carousel {

  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

div.item {
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: coral;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
  --offset: 1;
  background-color: #a4e7e6;
}

div.item:nth-of-type(2) {
  --offset: 2;
  background-color: #f3a8c5;
}

div.item:nth-of-type(3) {
  --offset: 3;
  background-color: #fac1ac;
}

div.item:nth-of-type(4) {
  --offset: 4;
  background-color: #eed9a4;
}

div.item:nth-of-type(5) {
  --offset: 5;
  background-color: #ecf7ae;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

input:nth-of-type(1):checked~main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

input:nth-of-type(2):checked~main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}

input:nth-of-type(3):checked~main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}

input:nth-of-type(4):checked~main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}

input:nth-of-type(5):checked~main#carousel {
  --position: 5;
}

.CV {
  width: 70%;
  background-color: aquamarine;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 2%;
}

#vous {
  text-decoration: underline;
  text-underline-offset: 8px;
}

.radioBut input:checked {
  content: "";
  visibility: visible;
}


::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}


.scrollbar {
  margin-left: 30px;
  float: left;
  height: 300px;
  width: 65px;
  background: #F5F5F5;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.force-overflow {
  min-height: 450px;
}

header {
  /* Style pour le bandeau d'en-tête*/
  color: white;
  padding: 7px;
  background-color: #446AA9;
}


.navigation {
  /* Style du bandeau de navigation */
  background: #E7F2FF;
  box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px; /* Augmenter la hauteur ici */
  margin-top: 20px; /* Abaisser la nav bar ici */
}

.nav-left {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  
}

.navigation ul {
  /* Suppression des puces */
  list-style: none;
  /* Autres styles */
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navigation ul li {
  margin-right: 15px;
}

.navigation ul li:last-child {
  margin-right: 0;
}

.navigation ul li a {
  /* Suppression du surlignage */
  text-decoration: none;
  color: #515151;

  /* Styles pour l'effet de ligne en survol */
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
}

.navigation ul li a::after {
  content: "";
  position: absolute;
  margin-top: 2px;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #515151;
  transition: width 0.3s ease;
}

.navigation ul li a:hover {
  color: #303030;
}

.navigation ul li a:hover::after {
  width: 100%;
}


footer {
  /* Style du footer */
  color: black;
  margin-top: 20px;
}



.Description {
  display: none;
  position: fixed;
  left: 45%;
  top: 5%;
  transform: translate(-45%, 5%);
  border: 2px solid #666;
  z-index: 9;
}

.descr-container {
  padding: 20px;
  background-color: #f8f5f5;
}

.login-popup {
  position: relative;
  text-align: center;
  width: 100%;
}

#eventPerso {
  background-color: mintcream;
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.scroll-container {
  width: 50vw;
  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.scrolling-page {
  height: 400px;
  overflow: auto;
}

.element {
  background: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
}


.myEvents {
  /* Style du corps de section */
  color: black;
  margin-top: 50px;
}

.footer-navigation {
  /* Style du bandeau de navigation */
  background: #E7F2FF;
  
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  margin-top: 20px;
  top: 0;
  text-align:center;
}

.footer-navigation .nav-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.footer-navigation ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.footer-navigation ul li {
  margin-right: 15px;
}

.footer-navigation ul li:last-child {
  margin-right: 0;
}

.footer-navigation ul li a {
  text-decoration: none;
  color: #515151;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
  top:6px;
}

.footer-navigation ul li a::after {
  content: "";
  position: absolute;
  margin-top: 2px;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #515151;
  transition: width 0.3s ease;
}

.footer-navigation ul li a:hover {
  color: #303030;
}

.footer-navigation ul li a:hover::after {
  width: 100%;
}