body {
  /* Style pour le corps général*/
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

.profil {
  /* Style pour la partie profil en haut de page */
  margin-top: 80px;
}

.row {
  padding: 2%
}

/*CSS pour carroussel*/

main#carousel {

  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

div.item {
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: coral;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
  --offset: 1;
  background-color: #a4e7e6;
}

div.item:nth-of-type(2) {
  --offset: 2;
  background-color: #f3a8c5;
}

div.item:nth-of-type(3) {
  --offset: 3;
  background-color: #fac1ac;
}

div.item:nth-of-type(4) {
  --offset: 4;
  background-color: #eed9a4;
}

div.item:nth-of-type(5) {
  --offset: 5;
  background-color: #ecf7ae;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

input:nth-of-type(1):checked~main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

input:nth-of-type(2):checked~main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}

input:nth-of-type(3):checked~main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}

input:nth-of-type(4):checked~main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}

input:nth-of-type(5):checked~main#carousel {
  --position: 5;
}

.CV {
  width: 70%;
  background-color: aquamarine;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 2%;
}

#vous {
  text-decoration: underline;
  text-underline-offset: 2px;
}

input:checked {
  background-color: white; /* Replace "red" with your desired color */
}